<template>
<v-app id="app" class="app-wrapper">
  <v-card>
    <v-toolbar  color="#424242" extension-height="10">
      <div class="upload-wrapper">
        <label for="input" class="input-label">Загрузить фото</label>
        <input id="input" class="input" type="file" @change="handleFileUpload">
        <div v-if="imageLoaded" class="image-info">
          <span class="firstinfo-wrapper">Исходная ширина: {{ imageWidth }}px</span>
          <span class="firstinfo-wrapper">Исходная высота: {{ imageHeight }}px</span>
        </div>
      </div>
    </v-toolbar>
  </v-card>
  <div class="canvas-wrapper">
    <canvas class="canvas" ref="canvas" width="600" height="400" @mousemove="showRGB"></canvas>
    <div class="info-wrapper">
      <span class="color-wrapper">RGB({{ color }})</span>
      <span class="xy-wrapper">X: {{ x }}, Y: {{ y }}</span>
    </div>
  </div>
</v-app>
</template>

<script>

export default {
  data: () => ({
      color: null,
      x: 0,
      y: 0,
      imageWidth: null,
      imageHeight: null,
      imageLoaded: false,
  }),
  methods: {
    handleFileUpload(event) {
      const file = event.target.files[0];
      const reader = new FileReader();
      
      reader.onload = () => {
        const img = new Image();
        img.onload = () => {
          const canvas = this.$refs.canvas;
          const ctx = canvas.getContext('2d');
          canvas.width = 600;
          canvas.height = 400;
          ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
          this.imageWidth = img.width;
          this.imageHeight = img.height;
          this.imageLoaded = true;

          
        };

        img.src = reader.result;
      };  
      reader.readAsDataURL(file);
    },
    showRGB(event) {
        const canvas = this.$refs.canvas;
        const ctx = canvas.getContext('2d');
        const x = event.offsetX;
        const y = event.offsetY;
        const imageData = ctx.getImageData(x, y, 1, 1).data;
        
        const r = imageData[0];
        const g = imageData[1];
        const b = imageData[2];

        this.color = `${r}, ${g}, ${b}`;

        this.x = event.offsetX;
        this.y = event.offsetY;
      },
  },

}
</script>

<style scoped>

.app-wrapper {
  margin: 0 auto;
  max-width: 1440px;
  background-color: #616161;
}

.canvas {
  border-radius: 10px;
  background-color: #424242;
  margin-top: 30px;
  margin-left: 300px;
}

.upload-wrapper {
  display: flex;
  overflow: hidden;
  position: relative;
}

.input-label {
  background: #616161;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
  color: #e0e0e0;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  border: 1px solid #757575;
  -webkit-box-shadow: 3px 2px 17px -4px rgba(33, 33, 33, 0.2);
  -moz-box-shadow: 3px 2px 17px -4px rgba(33, 33, 33, 0.2);
  box-shadow: 3px 2px 17px -4px rgba(33, 33, 33, 0.2);
}

.input {
  width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.firstinfo-wrapper {
  color: #e0e0e0;
  font-size: 12px;
  font-family: Helvetica, sans-serif;
}

.image-info {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-left: 30px;
}

.canvas-wrapper {
  display: flex;
  justify-content: space-between;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.color-wrapper {
  margin-top: 30px;
  color: #e0e0e0;
  font-size: 12px;
  font-family: Helvetica, sans-serif;
  font-weight: 500;
}

.xy-wrapper {
  color: #e0e0e0;
  font-size: 12px;
  font-family: Helvetica, sans-serif;
  font-weight: 500;
  margin-top: 5px;
}

</style>
