<!-- <template>
    <div class="canvas__wrapper">
        <canvas id="myCanvas" class="canvas" width="600" height="480" @mousemove="showXY"></canvas>
        <span class="canvas__inf">{{ x }}, {{ y }}</span>
    </div>
</template>

<script>

export default ({
    name: 'vCanvas',
    data: () => ({
        canvas: null,
        x: 0,
        y: 0,
    }),

    methods: {
        showXY(e) {
            this.x = e.offsetX;
            this.y = e.offsetY;
        }
    },

    mounted() {
        var c = document.getElementById("myCanvas");
        this.canvas = c.getContext('2d');
    }
})
</script>


<style scoped>

.canvas {
    background-color: #262626;
    border-radius: 5px;
    width: 600px;
    height: 480px;
}
.canvas__wrapper {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
};

.canvas__inf {
    color: #fff;
}

</style> -->